extends layout

block content
  div
    h1= title
    ul
      li
        a(href="/") Home
      li
        a(href="/addTodo") Add a new todo
    div(ui-view)
    a(ui-sref="home") hhhh

  script(src='bower_components/angular/angular.js')
  script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
  script(src='app/app.module.js')
  script(src='app/home/home.controller.js')
